@import "tailwindcss";
@import "tw-animate-css";

@import "@liveblocks/react-ui/styles.css";
@import "@liveblocks/react-lexical/styles.css";

@import "../styles/dark-theme.css";
/* @custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #0A111F;
  --card: #ffffff;
  --card-foreground: #010101;
  --popover: #ffffff;
  --popover-foreground: #010101;
  --primary: #020202;
  --primary-foreground: #f4f4f4;
  --secondary: #e9e9e9;
  --secondary-foreground: #020202;
  --muted: #e9e9e9;
  --muted-foreground: #2c2c2c;
  --accent: #e9e9e9;
  --accent-foreground: #020202;
  --destructive: #cc0001;
  --border: #c8c8c8;
  --input: #c8c8c8;
  --ring: #5a5a5a;
  --chart-1: #e91100;
  --chart-2: #004e40;
  --chart-3: #011421;
  --chart-4: #ff7c00;
  --chart-5: #fc5200;
  --sidebar: #f4f4f4;
  --sidebar-foreground: #010101;
  --sidebar-primary: #020202;
  --sidebar-primary-foreground: #f4f4f4;
  --sidebar-accent: #e9e9e9;
  --sidebar-accent-foreground: #020202;
  --sidebar-border: #c8c8c8;
  --sidebar-ring: #5a5a5a;
}

.dark {
  --background: #0A111F;
  --foreground: #f4f4f4;
  --card: #020202;
  --card-foreground: #f4f4f4;
  --popover: #020202;
  --popover-foreground: #f4f4f4;
  --primary: #c8c8c8;
  --primary-foreground: #020202;
  --secondary: #050505;
  --secondary-foreground: #f4f4f4;
  --muted: #050505;
  --muted-foreground: #5a5a5a;
  --accent: #050505;
  --accent-foreground: #f4f4f4;
  --destructive: #ff2023;
  --border: #ffffff1a;
  --input: #ffffff26;
  --ring: #2c2c2c;
  --chart-1: #0210ca;
  --chart-2: #008134;
  --chart-3: #fc5200;
  --chart-4: #6a10ff;
  --chart-5: #ff0418;
  --sidebar: #020202;
  --sidebar-foreground: #f4f4f4;
  --sidebar-primary: #0210ca;
  --sidebar-primary-foreground: #f4f4f4;
  --sidebar-accent: #050505;
  --sidebar-accent-foreground: #f4f4f4;
  --sidebar-border: #ffffff1a;
  --sidebar-ring: #2c2c2c;
} */

@layer base {
  :root {
    background: #09111f;
    color: #fff;
    margin: 0;
  }

  .custom-scrollbar::-webkit-scrollbar,
  .toolbar-wrapper::-webkit-scrollbar,
  .editor-wrapper::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-track,
  .toolbar-wrapper::-webkit-scrollbar-track,
  .editor-wrapper::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb,
  .toolbar-wrapper::-webkit-scrollbar-thumb,
  .editor-wrapper::-webkit-scrollbar-thumb {
    background: #2e3d5b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover,
  .toolbar-wrapper::-webkit-scrollbar-thumb:hover,
  .editor-wrapper::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }
}
@layer utilities {
  .text-28-semibold {
    @apply text-[28px] font-semibold;
  }
  .text-10-regular {
    @apply text-[10px] font-normal;
  }

  .gradient-blue {
    @apply bg-gradient-to-t from-blue-500 to-blue-400;
  }
  .gradient-red {
    @apply bg-gradient-to-t from-red-500 to-red-400;
  }

  .shad-dialog {
    background-image: url("/window.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @apply w-full max-w-[400px] rounded-xl border-none bg-cover px-5 py-7 shadow-xl sm:min-w-[500px];
  }

  .shad-dialog button {
    @apply focus:ring-0 focus:ring-offset-0 focus-visible:border-none focus-visible:outline-none focus-visible:ring-transparent focus-visible:ring-offset-0;
  }

  .shad-select {
    @apply w-fit border-none bg-transparent text-blue-100;
  }

  .shad-select svg {
    @apply ml-1 mt-1;
  }

  .shad-select-item {
    background-color: #0b1527;
    color: #b4c6ee;
    @apply cursor-pointer;
  }

  .shad-select-item:hover,
  .shad-select-item:focus {
    background-color: #0f1c34;
    color: #b4c6ee;
  }

  .shad-popover {
    background-color: #0b1527;
    @apply w-[460px] border-none shadow-lg;
  }

  .floating-toolbar {
    background-color: #12213b;
    @apply flex w-full min-w-max items-center justify-center gap-2 rounded-lg p-1.5 shadow-xl;
  }

  .floating-toolbar-btn {
    @apply relative inline-flex size-8 items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50;
  }

  .toolbar-wrapper {
    background-color: #09111f;
    border-color: #0f1c34;
    @apply z-50 w-screen overflow-auto border-y pl-3 pr-4 shadow-sm;
  }

  .editor-wrapper {
    @apply h-[calc(100vh-140px)] gap-5 overflow-auto px-5 pt-5 lg:flex-row lg:items-start lg:justify-center xl:gap-10 xl:pt-10;
  }

  .header {
    background-color: #09111f;
    @apply min-h-[92px] min-w-full flex-nowrap flex w-full items-center justify-between gap-2 px-4;
  }

  .document-list-container {
    @apply flex flex-col items-center mb-10 w-full gap-10 px-5;
  }

  .document-list-title {
    @apply max-w-[730px] items-end flex w-full justify-between;
  }

  .document-list-item {
    background-image: url("/window.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @apply flex items-center justify-between gap-4 rounded-lg bg-cover p-5 shadow-xl;
  }

  .document-list-empty {
    background-color: #0b1527;
    @apply flex w-full max-w-[730px] flex-col items-center justify-center gap-5 rounded-lg px-10 py-8;
  }

  .document-title-input {
    @apply min-w-[78px] border-none bg-transparent px-0 text-left text-base font-semibold leading-[24px] focus-visible:ring-0 focus-visible:ring-offset-0 disabled:text-black sm:text-xl md:text-center;
  }

  .document-title {
    border-color: #27344d;
    @apply line-clamp-1 text-base font-semibold leading-[24px] sm:pl-0 sm:text-xl;
  }

  .view-only-tag {
    background-color: rgba(39, 52, 77, 0.5);
    color: rgba(180, 198, 238, 0.5);
    @apply rounded-md px-2 py-0.5 text-xs;
  }

  .collaborators-list {
    @apply hidden items-center justify-end -space-x-3 overflow-hidden sm:flex;
  }

  .share-input {
    background-color: #27344d;
    @apply h-11 flex-1 border-none focus-visible:ring-0 focus-visible:ring-offset-0;
  }

  .remove-btn {
    @apply rounded-lg bg-transparent px-0 text-red-500 hover:bg-transparent;
  }

  .comments-container {
    @apply mb-10 space-y-4 lg:w-fit flex w-full flex-col items-center justify-center;
  }

  .comment-composer {
    background-color: #0b1527;
    border-color: #0f1c34;
    @apply w-full max-w-[800px] border shadow-sm lg:w-[350px];
  }

  .comment-thread {
    background-color: #0b1527;
    border-color: #0f1c34;
    @apply w-full max-w-[800px] border shadow-sm lg:w-[350px] transition-all;
  }

  .loader {
    @apply flex size-full h-screen items-center justify-center gap-3 text-white;
  }

  /* ======================== Auth Pages */
  .auth-page {
    @apply flex h-screen w-full flex-col items-center justify-center gap-10;
  }

  /* ======================== Home Page */
  .home-container {
    @apply relative flex min-h-screen w-full flex-col items-center gap-5 sm:gap-10;
  }

  .document-ul {
    @apply flex w-full max-w-[730px] flex-col gap-5;
  }

  /* ======================== CollaborativeRoom */
  .collaborative-room {
    @apply flex size-full max-h-screen flex-1 flex-col items-center overflow-hidden;
  }
}

/* ======================== Clerk Override */
.cl-avatarBox {
  width: 36px;
  height: 36px;
}

.cl-userButtonTrigger {
  height: fit-content;
}

.cl-cardBox,
.cl-signIn-start,
.cl-signUp-start,
.cl-footer {
  background: #060d18;
  box-shadow: none;
  padding: 20px;
}

.cl-socialButtonsBlockButton,
.cl-socialButtonsBlockButton:hover {
  height: 40px;
  background-color: #3371ff;
  color: #fff;
}

.cl-internal-2gzuzc {
  filter: brightness(1000%);
}

.cl-logoBox {
  height: 52px;
}

/* ======================== Liveblocks Override */
.lb-root {
  --lb-accent-subtle: #0b1527;
  --lb-radius: 0px;
  --lb-dynamic-background: #1b2840;
}

.lb-comment,
.lb-thread-comments,
.lb-composer,
.lb-comment-reaction {
  background-color: #0f1c34;
  color: #fff;
}

.lb-button {
  --lb-foreground-moderate: #fff;
}

.lb-button:where([data-variant="primary"]) {
  background-color: #161e30;
  color: #b4c6ee;
  padding: 8px;
}

.lb-button:where(
    [data-variant="default"]:not(
        :is(
            :enabled:hover,
            :enabled:focus-visible,
            [aria-expanded="true"],
            [aria-selected="true"]
          )
      )
  ) {
  color: #b4c6ee;
}

.lb-button:where(
    :enabled:hover,
    :enabled:focus-visible,
    [aria-expanded="true"],
    [aria-selected="true"]
  ) {
  --lb-button-background: #161e30;

  color: #b4c6ee;
}

.lb-inbox-notification-list-item:where(:not(:last-of-type)) {
  border-bottom: none;
}

.lb-comment-body,
.lb-dropdown-item,
.lb-dropdown-item-icon,
.lb-composer-editor {
  color: #fff;
}

.lb-composer-action {
  padding: 8px;
}

.lb-comment-content {
  background: #0b1527;
  margin-top: 16px;
  padding: 12px;
  border-radius: 4px;
  font-size: 14px;
}

.lb-comment-date,
.lb-lexical-mention-suggestion-user,
.lb-composer-suggestions-list-item,
.lb-inbox-notification-date,
.lb-comment-author {
  color: #b4c6ee;
}

.data-liveblocks-portal {
  color: #b4c6ee;
}

.lb-root:where(:not(.lb-root .lb-root)) {
  --lb-dynamic-background: #1b2840;
  color: #fff;
}

.lb-composer-editor :where([data-placeholder]) {
  color: #b4c6ee;
  font-size: 14px;
}

.lb-lexical-floating-threads-thread:where([data-resolved]) {
  opacity: 40%;
}

.lb-elevation {
  background: #0f1c34;
}